<div class="patient-detail-container" *ngIf="patient">
  <h2>{{ 'patient.detailTitle' | translate }}</h2>
  <div class="patient-info">
    <p><strong>{{ 'patient.firstName' | translate }}:</strong> {{ patient.firstName }}</p>
    <p><strong>{{ 'patient.lastName' | translate }}:</strong> {{ patient.lastName }}</p>
    <p><strong>{{ 'patient.age' | translate }}:</strong> {{ patient.age }}</p>
    <p><strong>{{ 'patient.gender' | translate }}:</strong> {{ patient.gender }}</p>
    <p><strong>{{ 'patient.weight' | translate }}:</strong> {{ patient.weight }}</p>
    <p><strong>{{ 'patient.height' | translate }}:</strong> {{ patient.height }}</p>
    <p><strong>{{ 'patient.dni' | translate }}:</strong> {{ patient.dni }}</p>
    <p><strong>{{ 'patient.organizationId' | translate }}:</strong> {{ patient.organizationId }}</p>
    <p><strong>{{ 'patient.doctor' | translate }}:</strong>
      <span *ngIf="doctor">{{ doctor.firstName }} {{ doctor.lastName }}</span>
      <span *ngIf="!doctor">{{ 'patient.noDoctor' | translate }}</span>
    </p>
    <div *ngIf="patient.imageUrl">
      <img [src]="patient.imageUrl" alt="Foto del paciente" class="patient-image" />
    </div>
  </div>
  <button mat-button (click)="onBackToList()">{{ 'patient.backToList' | translate }}</button>
</div>
