@if (bloodPressure().length)
{
    <app-blood-preasure [bloodPressure]="bloodPressure()"></app-blood-preasure>
}

@if (relative()?.seniorCitizen?.signalVitals?.heartRate) {
    <app-heart-rate [heartRate]="heartRate()"></app-heart-rate>
}

@if (relative()?.seniorCitizen?.signalVitals?.oxygenLevel) {
    <app-oxygen-saturation [oxygenLevel]="oxigenLevel()"></app-oxygen-saturation>
}


@if (relative()?.seniorCitizen?.signalVitals?.temperature) {
    <app-temperature-rate [temperature]="temperature()"></app-temperature-rate>
}