<h2 mat-dialog-title>{{ 'senior-citizen.unassignSeniorCitizenDialog.title' | translate }}</h2>
<mat-dialog-content>
  <p>{{ 'senior-citizen.unassignSeniorCitizenDialog.message' | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">
    {{ 'senior-citizen.unassignSeniorCitizenDialog.cancel' | translate }}
  </button>
  <button mat-raised-button color="warn" (click)="onConfirm()">
    {{ 'senior-citizen.unassignSeniorCitizenDialog.confirm' | translate }}
  </button>
</mat-dialog-actions>

